.button {
    background-color: #3A80FE;
    border-radius: 30px;
    border: none;
    color: white;
    height: 50px;
    width: 200px;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.clear-button {
    background: rgb(226, 54, 54);
    border-radius: 20px;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    margin: 1rem;
    margin-left: 0;
    font-family: 'Poppins-SemiBold';
}

.submit-button {
    background: rgb(3, 208, 177);
    border-radius: 20px;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    margin: 1rem;
    margin-left: 0;
    font-family: 'Poppins-SemiBold';
}