.button {
    background-color: #3A80FE;
    border-radius: 20px;
    padding: 5%;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
}

.clear-button {
    background: #FF4D4D;
    border-radius: 8px;
    border: none;
    color: white;
    height: 40px;
    margin: 1rem;
    font-family: 'Poppins-SemiBold';
}

.submit-button {
    background: #00FF6A;
    border-radius: 8px;
    border: none;
    color: white;
    height: 40px;
    margin: 1rem;
    font-family: 'Poppins-SemiBold';
}