.home-screen {
    height: 80%;
    width: 39.42%;
    margin-left: 30.29%;
    margin-right: 30.29%;
    margin-top: 10%;
    margin-bottom: 10%;
    // probably want to add a shadow in at some point later
}