.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%
}

.terminal-window {
    background: #141821;
    border-radius: 13px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
