.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%
}

.experience-card {
    border-radius: 13px;
    margin: 5%;
    padding: 5%;
    box-shadow: 2px 7px 20px 0 rgba(0,0,0,0.50);
}

.skill-section {
    border-radius: 13px;
    box-shadow: 2px 7px 20px 0 rgba(0,0,0,0.50);
    margin: 5%;
    padding: 5%;
}

.achievement-card {
    box-shadow: 2px 7px 20px 0 rgba(0,0,0,0.50);
    border-radius: 13px;
}

.volunteering-card {
    box-shadow: 2px 7px 20px 0 rgba(0,0,0,0.50);
    border-radius: 13px;
}
