$color-palette: 
("white",#FFFFFF),
("black",#000000),
("dark-grey", #4A4A4A),
("very-dark-grey", #222222),
("green", #48BB78),
("dark-blue", #141821),
("orange",#EF8A37),
("purple", #805AD5),
("blue", #3385D2),
("bright-green", #00FF6A),
("yellow", #FFD556),
("red", #FF4D4D),
("mustard-yellow", #f4b93d),
("theme-color", #FF5A5F);

@each $color in $color-palette {
  .is-#{nth($color,1)}-bg{
    background-color: nth($color,2);
  }
  .is-#{nth($color,1)}-text{
    color: nth($color,2);
  }
}